.job-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 60px 0 60px;
  justify-content: flex-start;
}

.job-card {
    background-color: white;
    padding: 16px;
    width: 316px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.03);
  }

  .job-card ul li {
    font-size: 14px;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
  }
  .logo-placeholder {
    font-size: 24px;
    font-weight: bold;
  }
  .posted-time {
    background-color:#B0D9FF; 
    font-size: 14px;
    font-weight: 500;
    padding: 7px 10px;
    border-radius: 10px;
    display: inline-block;
    height: fit-content;
  }
  
  .job-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .job-card ul {
    font-size: 13px;
    color: #555;
    padding-left: 18px;
  }
  .apply-btn {
    background-color: #00AAFF;
    color: white;
    border: none;
    padding: 12px 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .logo-box {
    width: 90px;
    height: 90px;
    background: linear-gradient(to bottom, #FEFEFD,#F1F1F1);
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .company-logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  
  .job-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    padding-bottom: 10px;
  }
  
  .job-info span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  